/*	XOP-specific resources for JSON-XOP on Windows

	This file is compiled by the resource compiler and creates XOP-specific
	resources that IGOR looks for in an XOP module.
*/

#include "XOPResources.h"			// Defines XOP-specific symbols.

1100 STR#					// Custom error messages.
BEGIN
#if XOP_TOOLKIT_VERSION >= 800
  "mies-nwb2-compound-XOP XOP requires Igor 8.00 or later.\0",                                                          // OLD_IGOR
#else
  "mies-nwb2-compound-XOP XOP requires Igor 7.00 or later.\0",                                                          // OLD_IGOR
#endif
  "A unhandled C++ exception occured.\0",                                                              // UNHANDLED_CPP_EXCEPTION
  "A C++ exception occured.\0",                                                                        // CPP_EXCEPTION

  "ASSERTion encountered.\0",                                                                          // ERR_ASSERT
  "Error when parsing HDF5 file\0",                                                                    // ERR_HDF5
  "Can not convert value to requested type.\0",                                                        // ERR_CONVERT
  "Invalid type specified.\0",                                                                         // ERR_INVALID_TYPE
  "Parameters missing in operation call\0",                                                            // ERR_FLAGPARAMS
	0,								// NOTE: 0 required to terminate the resource.
END

/* no menu item */

1100 XOPI							// XOPI - Describes general XOP properties to IGOR.
BEGIN
	XOP_VERSION,					// Version number of host XOP system.
	DEV_SYS_CODE,					// Code for development system used to make XOP.
	XOP_FEATURE_FLAGS,				// Tells Igor about XOP features
	XOPI_RESERVED,					// Reserved - must be zero.
	XOP_TOOLKIT_VERSION				// XOP Toolkit version.
END

1100 XOPC
BEGIN
	"IPNWB_WriteCompound\0",
	utilOp | XOPOp | compilableOp | threadSafeOp,

	"IPNWB_ReadCompound\0",
	utilOp | XOPOp | compilableOp | threadSafeOp,

  "\0"
END

#include "functions.rc"
